{{> header}}


    {{> navbar}}
    <div class="row">
        <div class="col-8">
            <h1>Acerca de</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur totam dolor harum a expedita. Corrupti adipisci eius accusantium quis eos nemo delectus quam illum velit earum? Tempore animi at neque.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/200432.png" alt="" class="img-thumbnail">
        </div>
    </div>
   {{> footer}}
